<!DOCTYPE HTML>
<html layout:decorate="~{layout}">
<head th:fragment="fragment-header"></head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1> 계좌 생성</h1>
    <form role="form" th:action="@{|/account/create/${mid}|}" th:object="${accountCreateForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <p> 에러 메시지를 확인해주세요 </p>
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>

        <div class="mb-3">
            <label th:for="accountNumber">계좌번호</label>
            <input type="text" th:field="*{accountNumber}" class="form-control" placeholder="계좌번호">
        </div>
        <div class="mb-3">
            <label th:for="password1">계좌 비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control" placeholder="비밀번호 입력해주세요">
        </div>
        <div class="mb-3">
            <label th:for="password2">계좌 비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호를 재입력해주세요">
        </div>
        <div class="mb-3">
            <label th:for="bankName">은행사</label>
            <input type="text" th:field="*{bankName}" class="form-control" placeholder="은행">
        </div>
        <div class="mb-3">
            <label th:for="accountAlias">계좌이름</label>
            <input class="form-control" th:field="*{accountAlias}" placeholder="계좌이름을 정해주세요(선택사항)">
        </div>
        <button type="submit" class="btn btn-primary">신규 계좌 생성</button>
    </form>
    </form>
</div>
</body>
</html>