<!DOCTYPE HTML>
<html layout:decorate="~{layout}">
<head th:fragment="fragment-header"></head>
<body>
<div layout:fragment="content" class="container">
  <h3 class="my-3 border-bottom pb-2"> 회원가입 </h3>
  <form role="form" th:action="@{/member/create}" th:object="${member}" method="post">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
      <p> 에러 메시지를 확인해주세요 </p>
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>

    <div class="form-group">
      <label th:for="mid">ID</label>
      <input type="text" th:field="*{mid}" class="form-control" placeholder="ID">
    </div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('id')}">
      <div th:each="err : ${#fields.errors('id')}" th:text="${err}" />
    </div>

    <div class="form-group">
      <label th:for="password">비밀번호</label>
      <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호">
    </div>

    <div class="form-group">
      <label th:for="name">이름</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="회원 이름">
    </div>
    <div class="form-group">
      <label th:for="email">이메일</label>
      <input class="form-control" th:field="*{email}">
    </div>
    <button type="submit" class="btn btn-primary">신규 계좌 생성</button>
  </form>
</div>
</body>
</html>