<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <span th:text="${member.mid}"></span>의 정보입니다.
</h1>
<!--<textarea "[헤드 테스트] 정보입니다."></textarea>-->
<div> 이름 : <span th:text="${member.name}"></span> </div>
<div> 패스워드 : <span th:text="${member.password}"></span> </div>
<div> 생성날 : <span th:text="${member.createDate}"></span> </div>
<a th:href="@{|/account/create/${member.id}|}">
    <button> 계좌 생성 </button>
<a th:href="@{|/account/list/${member.id}|}">
    <button> 계좌 리스트 확인 </button>
</a>
</body>
</html>